<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="community.study.life.community.mapper.QuestionExMapper">
    <resultMap id="BaseResultMap" type="community.study.life.community.model.Question">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="description" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="tag" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="gmt_create" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="gmt_modified" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="creator" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="view_count" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="comment_count" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="like_count" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        </constructor>
    </resultMap>
    <update id="incView" parameterType="community.study.life.community.model.Question">
    update question
    set
    view_count =view_count + #{viewCount,jdbcType=INTEGER}
    where id = #{id}
  </update>
    <update id="incCommentCount" parameterType="community.study.life.community.model.Question">
    update question
    set
    comment_count  =comment_count + #{commentCount,jdbcType=INTEGER}
    where id = #{id}
  </update>
</mapper>